# 데이터베이스 자료처리

데이터베이스
- 자료를 컴퓨터에서 처리가 가능하도록 저장한것
- 통합, 저장, 운영 가능한 공용 데이터를 의미

데이터베이스관리시스템(DBMS)
- 방대한 양의 자료를 효율적으로 저장하고, 편리하게 관리 및 검색할 수 있는 환경을 제공하는 시스템 소프트웨어
- 사용자 인터페이스와 데이터베이스언어(SQL)로 구성됨
- 대표적인 DBMS는 MySQL, ORACLE, SQLite 등

관계형데이터베이스
- 자료와 자료 사이의 관계를 2차원의 테이블 형태로 제공하는 데이터베이스
- 테이블의 각 행은 하나의 객체로 표현되고, 각 열은 객체의 속성으로 표현됨
- 행 : 레코드(로우) / 열 : 필드
- 관계형데이터베이스를 시스템에 구축하기 위해서는 데이터베이스관리시스템이라는 소프트웨어를 이용해야함

DBMS 기능
- 정의 : 자료의 형태, 구조, 데이터베이스 저장에 관한 내용을 정의
- 조작 : 검색, 수정, 삽입, 삭제 등 지원 / 사용자와 데이터베이스 사이의 인터페이스를 위한 수단 제공
- 제어 : 데이터베이스의 내용에 대해 정확성과 안전성을 유지하는 기능 / 무결성 유지, 자료 보안, 병행 수행 제어 등의 기능 제공

SQLite3
- 기기 내부에서만 사용할 수 있는 DBMS
- 모바일이나 소형 기기에서 관계형데이터베이스를 생성하는 소프트웨어
- 외부에서의 접근은 허용하지 않음

CRUD
- create table()
- insert into values()
- select from
- update set
- delete from

In [2]:
import sqlite3
print(sqlite3.sqlite_version_info)

(3, 33, 0)

In [15]:
# 289~290
try:
    # db 연동 객체
    conn = sqlite3.connect("sqlite_db") # db 생성 -> 연결 object
    
    # sql 실행 객체
    cursor = conn.cursor()
    
    # table 생성
    sql = 'create table if not exists test_table(name text(10), phone text(15), addr text(50))'
    
    # sql문 실행
    cursor.execute(sql)
    
    # 레코드 추가
    cursor.execute("insert into test_table values('홍길동','010-1111-1111','서울시')")
    cursor.execute("insert into test_table values('이순신','010-2222-2222','해남시')")
    cursor.execute("insert into test_table values('강감찬','010-1111-1111','평양시')")
    
    # db반영
    conn.commit()
    
    # 레코드 조회
    cursor.execute("select * from test_table")
    
    # 조회 레코드 가져오기
    rows = cursor.fetchall()
    
    # 레코드 출력 1
    for row in rows:
        print(row)
    
    # 레코드 출력 2    
    print('이름 \t 전화번호 \t 주소')
    for row in rows :
        print(row[0], '\t', row[1], '\t', row[2])
        
except Exception as e :
    print('db 연동 실패 : ', e)
    conn.rollback() # 실행 취소

finally :
    cursor.close() # cursor 객체 닫기
    conn.close() # conn 객체 닫기

('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('강감찬', '010-1111-1111', '평양시')
이름 	 전화번호 	 주소
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
강감찬 	 010-1111-1111 	 평양시

In [14]:
# 테이블 지우기
conn = sqlite3.connect("sqlite_db") # db 생성 -> 연결 object
cursor = conn.cursor()
sql = 'delete from test_table'
cursor.execute(sql)
conn.commit()

In [20]:
# 291~292

try:
    # db 연동 객체
    conn = sqlite3.connect("sqlite_db") # db 생성 -> 연결 object
    
    # sql 실행 객체
    cursor = conn.cursor()
    
    # table 생성
    sql = '''create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    su integer default 0,
    dan real default 0.0)'''
    
    # sql 실행
    cursor.execute(sql)
    
#     # 레코드 추가
#     cursor.execute("insert into goods values(1, '냉장고', 2, 8500000)")
#     cursor.execute("insert into goods values(2, '세탁기', 3, 5500000)")
#     cursor.execute("insert into goods(code, name) values(3, '전자레인지')")
#     cursor.execute("insert into goods(code, name, dan) values(4, 'HDTV', 15000000)")

#     # db 반영
#     conn.commit()
    
    # 레코드 조회
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall() # 레코드 가져오기

    for row in rows:
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수 : ', len(rows))
    
    # 상품명 조회
    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}%'"
    cursor.execute(sql) # 조회
    rows = cursor.fetchall()
    
    if rows : # null = false
        for row in rows : 
            print(row)
    else :
        print('검색된 레코드 없음')
        
except Exception as e :
    print('db 연동 error:', e)
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

1 냉장고 2 8500000.0
2 세탁기 3 5500000.0
3 전자레인지 0 0.0
4 HDTV 0 15000000.0
검색된 레코드 수 :  4
상품명 입력 : 지
(3, '전자레인지', 0, 0.0)

In [27]:
# 293~294

# 291~292

try:
    # db 연동 객체
    conn = sqlite3.connect("sqlite_db") # db 생성 -> 연결 object
    
    # sql 실행 객체
    cursor = conn.cursor()
    
    # table 생성
    sql = '''create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    su integer default 0,
    dan real default 0.0)'''
    
    # sql 실행
    cursor.execute(sql)
    
# #     레코드 추가
#     cursor.execute("insert into goods values(1, '냉장고', 2, 8500000)")
#     cursor.execute("insert into goods values(2, '세탁기', 3, 5500000)")
#     cursor.execute("insert into goods(code, name) values(3, '전자레인지')")
#     cursor.execute("insert into goods(code, name, dan) values(4, 'HDTV', 15000000)")

# #     db 반영
#     conn.commit()

# # 추가 ------------------------------------------------------
#     # 레코드 추가 : 2차
#     code = int(input('code 입력 : '))
#     name = input('name 입력 : ') # 문자
#     su = int(input('su 입력 : '))
#     dan = int(input('dan 입력 : '))
    
#     sql = f"insert into goods values({code},'{name}',{su},{dan})"
#     cursor.execute(sql) # 레코드 추가
#     conn.commit()
    
#     # 레코드 수정 : code -> su, dan 수정
#     code = int(input('수정 code 입력 : '))
#     su = int(input('수정 su 입력 : '))
#     dan = int(input('수정 dan 입력 : '))
    
#     sql = f"update goods set su = {su}, dan = {dan} where code = {code}"
#     cursor.execute(sql) # 수정
#     conn.commit() # db 반영
    
    # 레코드 삭제 : code -> 삭제
    code = int(input('삭제 code 입력 : '))
    sql = f"delete from goods where code = {code}"
    cursor.execute(sql) # 삭제
    conn.commit() # db 반영
    
    # 레코드 조회
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall() # 레코드 가져오기

    for row in rows:
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수 : ', len(rows))
    
    # 상품명 조회
    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}%'"
    cursor.execute(sql) # 조회
    rows = cursor.fetchall()
    
    if rows : # null = false
        for row in rows : 
            print(row)
    else :
        print('검색된 레코드 없음')
        
except Exception as e :
    print('db 연동 error:', e)
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

삭제 code 입력 : 5
1 냉장고 2 8500000.0
2 세탁기 3 5500000.0
3 전자레인지 0 0.0
4 HDTV 0 15000000.0
검색된 레코드 수 :  4
상품명 입력 : 노트북
검색된 레코드 없음